/********** Mine ***********/
.tot{
    align-self: center;
    width: 900px;
    margin: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.caixaMenu{
    float: left;
    left: 50px;
    width: 400px;
    background-color: rgb(199, 253, 255);
    color: blue;
}
.MENU{
    color: blue;
    margin-left: 20px;
}
.subMenu1{  
    margin-left: 20px;
}
.parag{
    align-self: center;
    left: 50px;
    width: 800px;
    background-color: rgb(235, 255, 199);
    margin: 50px;
}