/********** Mine ***********/
.tot{
    align-self: center;
    width: 900px;
    margin: 100px;
}
.caixaMenu{
    left: 50px;
    width: 700;
    color: rgb(199, 253, 255);
}
.MENU li a{
    color: rgb(0, 124, 207);
    margin-left: 0;
}
.subMenu1>li>a:hover{  
    margin-left: 20;
}
.parag{
    left: 50;
    width: 1000;
    height: 4000;
    color: rgb(235, 255, 199);
}