.tot{
    align-self: center;
    width: auto;
    margin: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 4px;
    border-color: blueviolet;
    padding: 5px;
    align-items: center;
}
.caixaMenu{
    text-decoration: none;
    position: fixed;
    top: 100px;
    display: inline-block;
    width: 400px;
    background-color: rgb(199, 253, 255);
    color: blue;
    margin: 10px;
    padding: 20px;
    height: auto;
    border-radius: 10%;
    float: left;
}
.MENU{
    color: blue;
    margin-left: 20px;
    padding-top: 5px;
    list-style:none;
    overflow: hidden;
    transition: 2s;
    position: relative;
    display: inline-block;
}
.subMenu1{  
    margin-left: 20px;
    display: none;
    position: relative;
    z-index: 1;
    transition: 2s;
    text-decoration: none;
    list-style-type: none;
}
.MENU:hover .subMenu1 {display: block;}
.parag{
    color: rgb(94, 116, 0);
    float: right;
    align-self: center;
    left: 50px;
    width: 800px;
    background-color: rgb(235, 255, 199);
    margin: 10px;
    padding: 20px;
    border-radius: 10%;
}
.Hs{
    text-align: center;
}